
<footer>

    <div id="about-me">
        <h5>Hi, I'm Manvi <i class="fas fa-hand-sparkles" style="color: mediumvioletred;"></i></h5>
        <p style="width: 80%;"> 
            <span style="color: darkblue;">'MyWebApp'</span> is social media clone, where user can create posts, like or comment 
            on a post or a comment.
        </p>
        <h5>Contact Me On</h5>
        <div id="icons">
            <a target="_blank" href="https://www.linkedin.com/in/manvi-bansal-8649821a1" style="color: #37417d;"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/Manvi-tech?tab=repositories" style="color: #388e3c;"><i class="fab fa-github-square"></i></a>
            <a href="#" style="color: #e91e63;"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>

    <div id="about-project">
        <h5>Back-End Project</h5>
        <p>
           Know more about this project <i class="fas fa-hand-point-right" style="color: mediumvioletred;"></i>
           <a href="/project-details">Project details</a>
        </p>
        <p>
            <i class="far fa-copyright"></i> 2021 ManviBansal
        </p>
    </div>

</footer>