
<footer>

    <div id="about-me">
        <h5>Hi, I'm Manvi!!</h5>
        <p style="width: 80%;"> 
            <span style="color: darkblue;">'MyWebApp'</span> is social media clone, where user can create posts, like or comment 
            on a post or a comment.
        </p>
        <h5>Contact Me On</h5>
        <div id="icons">
            <a href="" style="color: #37417d;"><i class="fab fa-linkedin"></i></a>
            <a href="" style="color: #388e3c;"><i class="fab fa-github-square"></i></a>
            <a href="" style="color: #e91e63;"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>

    <div id="about-project">
        <h5>Back-End Project</h5>
        <p>
           Know more about this project:
           <a href="/project-details">Project details</a>
        </p>
        <p>
            <i class="far fa-copyright"></i> 2021 ManviBansal
        </p>
    </div>

</footer>