<body id="project-info">
    
<section id="project-details">
    
    <h2>Back End WebD Project : MyWebApp</h2>

    <!-- tools & technologies -->
    <div>
        <h4> Which Tools & Technologies Are Used?</h4>

        <ol id="tools">
            <li>
                <span class="highlight">Front End Technologies: </span>

                <ul style="margin-left:-30px;">
                    <li>
                        <span class="tool-name">HTML: </span>
                        <span>Hyper Text Markup Language, describes the structure
                            of a Web page.HTML elements tell the browser how to 
                            display the content</span>
                    </li>
                    <li>
                        <span class="tool-name">CSS: </span>
                        <span> Cascading Style Sheets, is the language we use to style an HTML document.
                            It describes how HTML elements should be displayed.</span>
                    </li>
                    <li>
                        <span class="tool-name">Javascript: </span>
                        <span> is a lightweight, interpreted, 
                            or just-in-time compiled programming language with first-class functions, scripting language for web pages.</span>
                    </li>
                </ul>
            </li>

            <li>
                <span class="highlight">Back End Technologies:</span>
                <ul style="margin-left:-30px;">
                    <li>
                        <span class="tool-name">Node.js:</span>
                        <span class="content"> is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code.It is a great web framework because it  allows 
                            us to use JavaScript everywhere and on any browser.It has npm, a node package manager, 
                            with a library of over 350,000 packages which helps in doing various tasks.
                        </span>
                    </li>
                    <li>
                        <span class="tool-name">Express.js</span>
                        <span>Web Applications
                            Express is a minimal and flexible Node.js web application framework that
                            provides a robust set of features for web applications.</span>
                    </li>
                    <li>
                        <span class="tool-name">MVC Model:</span>
                        <span>Model–view–controller is a software design pattern commonly used for developing user interfaces that divide the related program logic into three 
                            interconnected elements. This is done to separate internal representations of information from the ways information is presented to and accepted from the use
                            </span>
                    </li>
                </ul>
            </li>

            <li>
                <span class="highlight">Modules / Libraries: </span>
                <ul style="margin-left:-30px;">
                    <li>
                        <span class="tool-name">Passport.js:</span>
                        <span>Passport is authentication middleware for Node.js. It is used for authenticating and authorising user by providing various strategies. Passport-local strategy has been used in
                            this project for signing in and to access authorised content of user profile.</span>
                    </li>
                    <li>
                        <span class="tool-name">Multer:</span>
                        <span>Multer is a node.js middleware for handling multipart/form-data, which is primarily used for uploading files. It is used to access and upload images/post from device bu user.</span>
                    </li>
                    <li>
                        <span class="tool-name">Noty.js:</span>
                        <span>NOTY is a notification library that makes it easy to create alert - success - error - warning - information - confirmation messages as an alternative the standard alert dialog.
                            It is used to display notifications whenever user signin, create or delete post, comment etc.
                            It's purpose is to make user experience better.
                        </span>
                    </li>
                    <li>
                        <span class="tool-name">Ejs:</span>
                        <span>Embedded javascript,is a simple templating language that lets you generate HTML markup with plain JavaScript.</span>
                    </li>
                </ul>
            </li>

            <li>
                <span class="highlight">Database: </span> 
                <ul style="margin-left:-30px;">
                    <li>
                        <span class="tool-name">Mongo DB:</span>
                        <span>MongoDB is a document database with the scalability and flexibility that we want with the querying and indexing.MongoDB stores data in flexible, JSON-like documents, 
                            meaning fields can vary from document to document and data structure can be changed over time.</span>
                    </li>
                    <li>
                        <span class="tool-name">Mongoose.js:</span>
                        <span> Mongoose provides a straight-forward, schema-based solution to model our application data. It includes built-in type casting, validation, query building, business 
                            logic hooks and more, out of the box.
                        </span>
                    </li>
                </ul>
            </li>
        </ol>
    </div>


    <!-- functionalities of MyWebApp -->

</section>
</body>