.profile{
    background-color: #fff7eb;
}

.info{
    float: right;
    margin:-115px 20px;
}

.info span{
    margin-right: 10px;
    font-size: 18px;
}
.info a.sign-out{
    border: 1px solid darkblue;
    color: #e91e63;
    padding: 3px;
}
.info a.sign-out:hover{
    border: 1px solid #e91e63;
    color: darkblue; 
    background-color: lightcyan;  
}

#profile-body{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-right: 5%;
}
#profile-body h3{
    color: #e91e63;
}
#profile-body div{
    margin-bottom: 40px;
}

#about p{
    margin-bottom: -15px;
}
#about p span{
    display: inline-block;
    width: 100px;
}

#update-user form span{
    display: inline-block;
    width: 150px;
}
#update-user form .edit{
    width: 250px;
    padding: 5px 3px;
    background-color: #e7f7ff;
    border: none;
}
#update-user form input[type=submit]{
    margin: 15px 153px;
    padding:5px;
    border-radius: 12px 15px;
    background-color: #4e6a77;
    color: white;
}

#user-details{
    display: flex;
}
#user-details #user_posts h3{
    color: #e91e63;
    text-align: center;
}
#user-details #post-container{
    display: flex;
    flex-wrap: wrap;
}

#user_posts #post-container div{
    height: 200px;
    width: 300px;
    margin: 5px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#user_posts #post-container div a{
    float: right;
    margin-right: 70px;
}

